<a href="https://colab.research.google.com/github/kimajindk/AIpython/blob/main/0328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#두 수 비교하여 어떤 수가 더 큰지, 같은지 판별하는 코드

#2개의 정수 입력받음
a=int(input("첫 번째 정수를 입력하세요: "))
b=int(input("두 번째 정수를 입력하세요: "))

#
if a>b:
  print(f"{a}가 {b}보다 큽니다.")
elif a<b:
  print(f"{b}가 {a}보다 큽니다.")
else:
  print(f"{a}와 {b}는 같습니다")

첫 번째 정수를 입력하세요: 4
두 번째 정수를 입력하세요: 5
5가 4보다 큽니다.

In [13]:
#두 수 비교하여 어떤 수가 더 큰지, 같은지 판별하는 코드

#2개의 정수 입력받음
a=int(input("첫 번째 정수를 입력하세요: "))
b=int(input("두 번째 정수를 입력하세요: "))

#
if a>b:
  print(str(a)+"가", str(b)+"보다", "큽니다.")
elif a<b:
  print(f"{b}가 {a}보다 큽니다.")
else:
  print(f"{a}와 {b}는 같습니다")

첫 번째 정수를 입력하세요: 5
두 번째 정수를 입력하세요: 2
5가 2보다 큽니다.

In [19]:
a, b = map(int, input("두 개의 정수를 입력하세요: ").split())

if a>b:
  print(str(a)+"가", str(b)+"보다", "큽니다.")
elif a<b:
  print(f"{b}가 {a}보다 큽니다.")
else:
  print(f"{a}와 {b}는 같습니다")

두 개의 정수를 입력하세요: 4455 77
입력한 정수: 4455, 77
4455가 77보다 큽니다.

In [30]:
a,b,c=map(int, input("세 개의 정수를 입력하세요: ").split())


max_num=a

if b>max_num:
  max_num=b
if c>max_num:
  max_num=c

print(f"입력하신 세 수 중 가장 큰 수는 {max_num}입니다.")

세 개의 정수를 입력하세요: 2 5 5
입력하신 세 수 중 가장 큰 수는 5입니다.

In [47]:
a=int(input("시험 점수(0-100)를 입력하세요: "))

if 0<= a <=100:
  if a>=90:
    print("당신의 학점은 A입니다.")
  elif a>=80:
    print("당신의 학점은 B입니다.")
  elif a>=70:
    print("당신의 학점은 C입니다.")
  elif a>=60:
    print("당신의 학점은 D입니다.")
  else:
    print("당신의 학점은 F입니다.")
else:
  print("유효한 점수를 입력하세요.")

시험 점수(0-100)를 입력하세요: 67
당신의 학점은 D입니다.

In [51]:
a=float(input("시험 점수(0-100)를 입력하세요: "))

if 0<= a <=100:
  if a>=90:
    score="A"
  elif a>=80:
    score="B"
  elif a>=70:6676
    score="C"
  elif a>=60:
    score="D"
  else:
    score="F"
  print(f"당신의 점수는 {score}입니다.")
else:
  print("유효한 점수를 입력하세요.")

시험 점수(0-100)를 입력하세요: 45.
당신의 점수는 F입니다.

In [61]:
#윤년 판별하기
a=int(input("연도를 입력하세요: "))

#윤년의 조건
#4로 나누어 떨어지면서 100으로 나누어 떨어지지 않는 해
if a%4 == 0 and a%100 != 0:
  print(f"{a}년은 윤년입니다.")
elif a%400 == 0:
  print(f"{a}년은 윤년입니다.")
else:
  print(f"{a}년은 윤년이 아닙니다.")

#400으로 나누어 떨어지는 해

연도를 입력하세요: -100
-100년은 윤년이 아닙니다.

In [62]:
#윤년 판별하기
a=int(input("연도를 입력하세요: "))

#윤년의 조건
#4로 나누어 떨어지면서 100으로 나누어 떨어지지 않는 해
if (a%4 == 0 and a%100 != 0) or (a%400 == 0):
  print(f"{a}년은 윤년입니다.")
else:
  print(f"{a}년은 윤년이 아닙니다.")

#400으로 나누어 떨어지는 해

연도를 입력하세요: 456
456년은 윤년입니다.

In [65]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [67]:
for i in range(5):
  print(i+1)

1
2
3
4
5

In [79]:
x=1
while x<10:
  print(x)
  x += 1

1
2
3
4
5
6
7
8
9

In [82]:
for i in range(9):
  if i==10:
    break
  print(i+1)

1
2
3
4
5
6
7
8
9

In [89]:
n=int(input("양의 정수를 입력하세요: "))
sum=0
for i in range(1,n+1):
  sum += i
print(sum)

양의 정수를 입력하세요: 100
5050

In [96]:
x=0
print("'0부터 9까지 출력하는 코드'")
while x<10:
  print(x)
  x+=1
print("while 종료")

'0부터 9까지 출력하는 코드'
0
1
2
3
4
5
6
7
8
9
while 종료

In [98]:
for i in range(10):
  print(i)
  i=+1

0
1
2
3
4
5
6
7
8
9